body{
  background-color:#caf7e3;
}
h1{
  color:#1597bb;
}
h3{
  color:#1597bb;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
